@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  /* Colors */
  --clr-purple-300: #593f84;
  --clr-purple-400: #3a265a;
  --clr-purple-500: #2a2559;
  --clr-green: #9cead1;
  --clr-blue-400: #263a72;
  --clr-white: #ffffff;
  --clr-white-500: #f1f5f9;
  --clr-black: #000000;
  --clr-gray-300: #9c9c9c;
  --clr-gray-400: #818181;

  /* Contextual */
  --clr-primary: var(--clr-purple-500);
  --clr-action: var(--clr-purple-400);
  --clr-accent: var(--clr-green);
  --clr-tertiary: var(--clr-blue-400);
  --clr-neutral-100: var(--clr-white);
  --clr-neutral-500: var(--clr-gray-400);
  --clr-neutral-900: var(--clr-black);

  /* Semantic */
  --color-heading-primary: var(--clr-primary);
  --color-heading-secondary: var(--clr-black);
  --color-nav-link: var(--clr-primary);
  --color-text-body-primary: var(--clr-gray-400);
  --color-text-body-secondary: var(--clr-tertiary);
  --color-text-inverse: var(--clr-white);
  --color-text-action: var(--clr-purple-400);

  --color-surface-primary: var(--clr-white);
  --color-surface-secondary: var(--clr-white-500);

  --gradient-link: linear-gradient(191.27deg, #7b46a5 37.14%, #3a265a 180.24%);
  --gradient-action: linear-gradient(90deg, #7b46a5 0%, #2f1b3f 100%);
  --gradient-button: linear-gradient(
    86.05deg,
    #2a2559 -12.6%,
    #4c265a -12.6%,
    #8b51c0 187.74%
  );
  --gradient-login-button: linear-gradient(
    129.34deg,
    #1aeb90 -8.89%,
    #1ad19f 81.29%
  );

  /* Typography */
  --fs-micro: 0.625rem; /* 10px */
  --fs-xs: 0.875rem; /* 14px */
  --fs-s-15: 0.938rem; /* 15px */
  --fs-s: 1rem; /* 16px */
  --fs-m-18: 1.125rem; /* 18px */
  --fs-m-20: 1.25rem; /* 20px */
  --fs-m-22: 1.375rem; /* 22px */
  --fs-m-24: 1.5rem; /* 24px */
  --fs-lg-32: 2rem; /* 32px */
  --fs-lg-40: 2.5rem; /* 40px */
  --fs-xl: 4rem; /* 64px */

  /* Spacing */
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-48: 3rem;
  --size-55: 3.438rem;
  --size-64: 4rem;
  /* Semantic */
  --nav-wrapper-padding: var(--size-16);

  --section-padding-block: var(--size-55);

  /* 31.25rem  nav-wrapper: desktop */
  --br-xs: 0.5rem;
  --br-md: 1.5rem;
  --br-xl: 4rem;
  --br-button: var(--br-xs);
  --br-nav-wrapper: var(--br-xl);
}

@layer base {
  /* Css Reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh; /* fallback */
    min-height: 100svh;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  } */

  p {
    /* base balance */
    text-wrap: pretty;
    max-width: 75ch;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }

  .debug {
    outline: 1px solid lime;
  }

  .inherit {
    width: inherit;
    height: inherit;
  }

  .transition-test {
    transition: all 0.5s ease;
  }
}

@layer components {
  /* Button */
  .button-base {
    @apply rounded-button capitalize;
    padding: 0.75em 1em;
  }
  .button-primary {
    @apply border-none bg-button-gradient text-inverse;
  }
  .button-secondary {
    @apply border-2 border-action bg-transparent text-action;
  }
  .button-login {
    @apply border-none bg-login-button text-heading-primary;
  }

  /* Container */
  .container {
    max-width: 82.5rem;
    margin-inline: auto;
    padding-inline: 0.375rem;
  }
  .container--lg {
    padding-inline: 2.5rem;
  }

  @media screen and (max-width: 768px) {
    /* .container {
      max-width: 82.5rem;
      margin-inline: auto;
      padding-inline: 0.5rem;
    } */
    .container--lg {
      padding-inline: 0.75rem;
    }
  }

  .hero-image-container {
    width: clamp(364px, 10vw, 853px);
    height: clamp(273px, 10vw, 364px);
  }

  .link-gradient-text {
    background: linear-gradient(191.27deg, #7b46a5 37.14%, #3a265a 180.24%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}
